/build/Debug
/source/NAnt.ParallelFor/obj
/build/Release/NAnt.Core.dll
/build/Release/NAnt.Core.xml
/build/Release/NAnt.ParallelFor.pdb
/build/Release/log4net.dll
/source/NAnt.ParallelFor/.vs/NAnt.ParallelFor/v14/*.suo
/source/NAnt.ParallelFor/StyleCop.Cache
/source/.vs/NAnt.ParallelFor/v14/*.suo
/source/NAnt.ParallelFor/*.user
/source/*.user
/NAnt.ParallelFor-*.zip
